
$node: Chocolate;
$leaf: DarkSlateGray;
$link: CadetBlue;

$opacity: .75;

.radial-tree-browser {
  .node {
    cursor: pointer;
    user-select: none;

    circle {
      fill: $node;
    }

    &.leaf circle {
      fill: $leaf;
    }

    text {
      font: 1.25rem sans-serif;
    }
  }

  .edge {
    fill: none;
    stroke: $link;
    stroke-opacity: $opacity;
    stroke-width:   .125rem;
  }
}
