
$node: Chocolate;
$leaf: DarkSlateGray;
$link: CadetBlue;

$opacity: .75;

.radial-tree-browser {
  .node {
    cursor: pointer;
    user-select: none;

    circle {
      fill: $node;
    }

    &.leaf circle {
      fill: $leaf;
    }

    text {
      font: 1.25rem sans-serif;
    }

    &.selected {
      outline: .125rem dashed red;
    }
  }

  .edge {
    fill: none;
    stroke: $link;
    stroke-opacity: $opacity;
    stroke-width:   .125rem;
  }
}

.import-controls {
  position:   absolute;
  background: none;

  &.dragover {
    background: rgba(0, 0, 0, .6);
  }
}
